@import "vars";
@import "_utilities/reboot";
@import "_mixins/mixins";
@import "fonts";
@import "libs";
@import "_utilities/utilities";

@import "_blocks/grid";
@import "_blocks/bulleted-list";
@import "_blocks/buttons";
@import "_blocks/cards";
@import "_blocks/hamburger";
@import "_blocks/hero";
@import "_blocks/likes";
@import "_blocks/list";
@import "_blocks/navbar";
@import "_blocks/paragraph";
@import "_blocks/percent-tag";
@import "_blocks/pricing";
@import "_blocks/progress";
@import "_blocks/section-title";
@import "_blocks/section";
@import "_blocks/text";

.test {
  height: 200px;
  width: 200px;
  margin: 20px;
  box-shadow: $box-shadow-gray;
}

.icon {
  width: 25px;
  height: 25px;
  & svg { height: 100%; width: 100%; }
}

.bold {
  font-weight: bold;
}

.profits {
  background-color: $light-gray;
}