@mixin centerElementFlex() { 
  justify-content: center;
  align-items: center; 
}

@mixin spaceBetweenFlex() {
  justify-content: space-between;
  align-items: center; 
}

@mixin spaceAroundFlex() {
  justify-content: space-around;
  align-items: center;
}

@mixin centerContainer() {
  margin: {
    top: 0;
    bottom: 0;
    left: auto;
    right: auto;
  }
}