.container {
  box-sizing: border-box;
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
  padding: 0 30px;
}

@media screen and (max-width: 1170px) {
  .container {
    min-width: 550px;
    max-width: 950px;
    padding: 0 15px;
  }
}

@media screen and (max-width: 760px) {
  .container {
    min-width: 320px;
    max-width: 620px;
  }
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}

@media screen and (max-width: 620px) {
  .row {
    flex-direction: column;
    margin: 0 -15px;
  }
}

.row-wrap {
  display: flex;
  flex-wrap: wrap;
}

@media screen and (max-width: 768px) {
  .row-wrap {
    flex-direction: column;
  }
}