.card {
  display: flex;
  position: relative;
  flex-flow: column;
  align-items: center;
  justify-content: space-between;
}

.pricing-card {
  padding: 20px 10px;
  border: 1px solid rgba($gray, .05);
  cursor: pointer;
  box-shadow: $box-shadow-empty;
  transition: background-color .35s ease, box-shadow .35s ease, border-radius .15s ease, border-color .25s ease;

  &:hover {
    border-radius: 5px;
    background-color: #FFF;
    box-shadow: $box-shadow-gray;
    border-color: #FFF;
  }

  &__term {
    text-align: center;
    background-color: transparent;
    &-number {
      display: block;
      font-size: 60px;
      line-height: 60px;
      font-weight: bold;
    }
  }

  &__features-list {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
  }

  &__feature {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding: 8px 0;
    width: 100%;
    border-bottom: 1px solid rgba($gray, .05);
    &:first-child {
      border-top: 1px solid rgba($gray, .05);
    }
  }

  &__feature-icon {
    margin-right: 10px;
    & svg {
      width: 18px;
      height: 12px;
    }
  }

  &__feature-text {
    text-align: left;

    & .price {
      display: block;
      font-size: 18px;
      font-weight: bold;
      color: $black;
    }

    & .caption {
      color: $gray;
      font-weight: 300;
      font-size: 13px;
      line-height: 13px;
    }
  }

  &__heart-icon {
    fill: $magento !important;
    & path {
      stroke: $magento !important;
    }
  }

  &__price {
    font-weight: bold;
    font-size: 16px;
    margin: 7px 0;
  }
}

[class*=col-]:nth-child(1) {
  @include card-color($violet)
}

[class*=col-]:nth-child(2) {
  @include card-color($pink)
}

[class*=col-]:nth-child(3) {
  @include card-color($magento)
}

@media (min-width: 992px) {
  .pricing-card__wrapper:nth-child(1) {
    margin-left: 12.5% !important;
  }
}

/* TEMP: */
.features {
  background: $gradient-yellow-magento-2;
  padding: 100px 0;
}

.violet {
  background: $gradient-pink-violet-blue;
  padding: 100px 0;
}

.flip-card {
  border: 1px solid rgba(#FFF, .1);
  height: 205px;
  position: relative;
  color: #FFF;
  transition: transform 1s;
  transform-style: preserve-3d;
  cursor: pointer;

  &:hover {
    transform: rotateY(180deg);

    .flip-card__face--front {
      color: rgba(#FFF, 0);

      & svg {
        opacity: 0;
      }
    }

    .flip-card__face--back {
      background-color: rgba($color: #FFF, $alpha: 1);
      color: rgba($color: $black, $alpha: 1);
      box-shadow: $box-shadow-gray;
    }
  }

  &__face {
    width: 100%;
    height: 100%;
    padding: 30px 20px;
    position: absolute;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    transition: background-color 1s ease, color 1s ease;

    &--front {
      display: flex;
      flex-flow: column;
      justify-content: space-between;
    }

    &--back {
      background-color: rgba($color: #FFF, $alpha: 0);
      color: rgba($color: $black, $alpha: 0);
      transform: rotateY(180deg);
      border-radius: 5px;
      box-shadow: $box-shadow-empty;
    }
  }

  &__icon-wrapper {
    height: 60px;
    width: 60px;
    position: relative;
    border-radius: 50%;
    background-color: rgba(#FFF, .1);

    & svg { 
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      max-width: 60%; 
      max-height: 60%; 
      opacity: 1;
      transition: opacity .8s ease;

      &.graph-icon-fix {
        transform: translate(-55%, -25%);
      }

      &.lock-icon-fix {
        & path { transform: scale(1.2) }
      }

      &.heart-icon-fix {
        fill: transparent;
        stroke: #FFF;
      }
    }
  }
  
  &__title {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
  }

  &__text {
    font-weight: 300;
    font-size: 16px;
    line-height: 23px;
    text-align: center;
  }
}

.metrics-card {
  box-shadow: $box-shadow-gray;
  padding: 15px;
  border-radius: 5px;

  &__head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
  }

  &__header {
    flex-basis: 65%;
  }

  &__title {
    font-weight: 900;
    font-size: 23px;
    line-height: 35px;
    color: $black;
  }

  &__caption {
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    color: $gray;
  }

  &__chart {
    & .circle {
      padding: 0;
      text-align: center;
      height: 70px;
      width: 70px;
      border: 6px solid transparent;
      border-radius: 50%;
      background-clip: padding-box, border-box;
      background-origin: padding-box, border-box;
      background-image: linear-gradient(#fff, #fff), $gradient-magento-violet;
    }
  }

  &__body {

  }

  &__metrics {

  }
}

.metrics {
  padding: 0;
  margin: 0;
  &__item {
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #F6F6F7;
    border-radius: 3px;
    margin-bottom: 10px;
  }

  &__left {
    display: flex;
    align-items: flex-start;
  }

  &__right {
    width: 95px;
  }

  &__icon {
    width: 17px;
    height: 17px;
    margin-right: 10px;
    transform: translateY(8px);

    &.heart-icon {
      fill: $magento;
    }
  }

  &__desc {
    font-weight: normal;
    font-size: 13px;
    color: $gray;
    display: block;
  }

  &__number {
    font-weight: 900;
    font-size: 23px;
    color: $black;
  }
}

.like-card {
  height: 410px;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  box-shadow: $box-shadow-gray;

  &__title {
    font-weight: 900;
    font-size: 30px;
    line-height: 35px;
    color: $black;
  }

  &__img {
    height: 120px;
    width: 120px;
    border-radius: 5px;
  }

  &__amount {
    width: 120px;
    background-color: #FAFBFC;
    border: 1px solid #E9EAEC;
    border-radius: 3px;
    text-align: center;
    font-weight: 900;
    font-size: 30px;
  }

  &__range-wrapper {
    width: 100%;
    height: 40px;
    position: relative;
    display: flex;
    align-items: center;
  }

  &__active-range {
    height: 5px;
    border-radius: 5px;
    background: $gradient-magento-violet;
    position: absolute;
  }

  &__range {
    width: 100%;
    -webkit-appearance: none;

    &:focus { outline: 0; }

    &::-webkit-slider-runnable-track {
      width: 100%; 
      height: 2px; 
      cursor: pointer; 
      // animate: .2s;
      animation: .2s; 
      background-color: #E9EAEC;
      border-radius: 1px; 
      box-shadow: none; 
      border: 0; 
    }
    
    &::-webkit-slider-thumb {
      z-index: 2; 
      position: relative; 
      height: 32px; 
      width: 32px; 
      border-radius: 50%; 
      background-color: #FFF;
      border: 1px solid #EDEDEE;
      box-shadow: 0px 5px 10px #DCDCDC;
      cursor: pointer; 
      -webkit-appearance: none; 
      margin-top: -16px; 
    }
    
    &::-moz-range-track {
      width: 100%; 
      height: 2px; 
      cursor: pointer; 
      // animate: .2s;
      animation: .2s; 
      background: #3FAFFA; 
      border-radius: 1px; 
      box-shadow: none; 
      border: 0; 
    }
    
    &::-moz-range-thumb {
      z-index: 2; 
      position: relative; 
      box-shadow: 0px 0px 0px #000;
      border: 1px solid #2497e3;
      height: 18px; 
      width: 18px; 
      border-radius: 50%; 
      background: #3FAFFA; 
      cursor: pointer; 
    }
    
    &::-ms-track {
      width: 100%; 
      height: 5px; 
      cursor: pointer; 
      // animate: .2s;
      animation: .2s; 
      background: transparent; 
      border-color: transparent; 
      color: transparent; 
    }
    
    &::-ms-fill-lower,
    &::-ms-fill-upper {
      background: #3FAFFA; 
      border-radius: 1px; 
      box-shadow: none; 
      border: 0; 
    }
    
    &::-ms-thumb {
      z-index: 2; 
      position: relative; 
      // box-shadow: 0px 0px 0px #000;
      // border: 1px solid #2497e3;
      height: 18px; 
      width: 18px; 
      border-radius: 50%; 
      background: #3FAFFA; 
      cursor: pointer; 
    }
  }

  &__range-values {
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-weight: 900;
    font-size: 16px;
    color: $gray;
  }
}