.card {
  display: flex;
  position: relative;
  flex-flow: column;
  align-items: center;
  justify-content: space-between;
}

/* TEMP: */
.benefits {
  background: $gradient-yellow-magento-2;
  padding: 100px 0;

  & .container {
    transition: opacity .75s ease, transform .75s ease;
    transition-delay: .2s;
  }
}

.features {
  padding-top: 100px;
  padding-bottom: 300px;

  & .container {
    transition: opacity .75s ease, transform .75s ease;
    transition-delay: .2s;

    &.hidden {
      opacity: 0;
      transform: translateY(150px);
    }
  }
}

@media (max-width: 480px) {
  .features {
    padding-bottom: 50px;
  }
}

.violet {
  background: $gradient-pink-violet-blue;
}