.card {
  display: flex;
  position: relative;
  flex-flow: column;
  align-items: center;
  justify-content: space-between;
}

/* TEMP: */
.benefits {
  background: $gradient-yellow-magento-2;
  padding: 100px 0;
}

.features {
  padding-top: 100px;
  padding-bottom: 300px;
}

@media (max-width: 480px) {
  .features {
    padding-bottom: 50px;
  }
}

.violet {
  background: $gradient-pink-violet-blue;
}