.dropdown {
  position: absolute;
  box-shadow: 0 0 4px 3px rgba(0, 0, 0, 0); 
  border: 1px solid rgba(0, 0, 0, 0.15);
  padding: 8px 0;
  @include borderRadius(3px);
  @include transition(box-shadow, 35s);
  &__hover-trigger {
    &:hover {
      .dropdown { 
        box-shadow: 0 0 4px 3px rgba(0, 0, 0, .15);
        @include transition(box-shadow, .35s);
      }
      .dropdown--opacity { opacity: 1; }
      .dropdown--width { width: 100px; }
    }
  }

  &--opacity {
    /* Ширину настраивать самому, в зависимости от контента */
    opacity: 0;
    @include transition(opacity, .35s);
    /* Для кликер-дропдаунов */
    &.active {
      opacity: 1 !important;
    }
  }

  &--width {
    /* Ширину настраивать самому, в зависимости от контента */
    /* TODO: А нужен ли вообще такой дропдаун? Opacity смотрится вполне лучше */
    width: 0;
    background: #bbb;
    overflow: hidden;
    @include transition(width, .15s);
    transition: width .15s ease;
  }
}