/* .img-fluid {
  width: 100%;
} */
@media (max-width: 992px) {
  .iphone-img  .img-fluid {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .iphone-img .img-fluid {
    top: 10px;
  }
}

@media (max-width: 480px) {
  .iphone-img .img-fluid {
    display: none;
  }
}