.icon {
  display: inline-block;
  width: 16px;
  height: 16px;
  vertical-align: middle;
  fill: currentcolor;
  &:focus, &:active { outline: none; }
  &-close {
    cursor: pointer;
    &:focus, &:active { outline: none; }
  }
}

.modal__window {
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
  width: 100%;
  height: 100%;

  &.is-visible {
    visibility: visible;
  }
}

.modal__overlay {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: hsla(0, 0%, 0%, 0.5);
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 0.3s, opacity 0.3s;
}

.modal__window.is-visible .modal__overlay {
  opacity: 1;
  visibility: visible;
  transition-delay: 0s;
}

.modal__wrapper {
  position: absolute;
  z-index: 9999;
  top: 50%;
  left: 50%;
  width: 32em;
  margin: -16em;
  background-color: #fff;
  box-shadow: 0 0 1.5em hsla(0, 0%, 0%, 0.35);
  opacity: 0;
  @include transition(all, .3s);
  /* @media (max-width: 600px) {
    & {
      width: 24em !important;
      left: 61%;
    }
  }

  @media (max-width: 480px) {
    & {
      width: 24em !important;
      left: 63%;
    }
  }

  @media (max-width: 420px) {
    & {
      width: 22em !important;
      left: 70%;
    }
  }

  @media (max-width: 360px) {
    & {
      width: 18em !important;
      left: 83%;
    }
  } */
}

.modal__window.is-visible .modal__wrapper {
  transform: translateY(0);
  opacity: 1;
}

.modal__header,
.modal__content {
  padding: 1em;
}

.modal__header {
  position: relative;
  background-color: #fff;
  box-shadow: 0 1px 2px hsla(0, 0%, 0%, 0.06);
  border-bottom: 1px solid #e8e8e8;
}

.modal__close-button {
  font-size: 30px;
  position: absolute;
  top: 0;
  right: 0;
  color: #aaa;
  padding: 10px;
  line-height: .5;
  background: none;
  border: 0;
  @include transition(color, .25s);
  &:focus {
    outline: none !important;
  }
  &:hover {
    color: #777;
  }
}

.modal__title {
  font-size: 1.125em;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.modal__content > *:first-child {
  margin-top: 0;
}

.modal__content > *:last-child {
  margin-bottom: 0;
}