.paragraph {
  font-weight: 300;
  font-size: 16px;
  color: $gray;
}

.paragraph-title {
  font-weight: bold;
  font-size: 25px;
  line-height: 38px;
  margin-bottom: 30px;
  color: $black;

  &--sm {
    font-size: 15px;
    line-height: 23px;
  }
}

@media (max-width: 768px) {
  .paragraph-title {
    text-align: center;
  }
}