.section {
  height: 100vh;
  padding: 100px 0;
  display: flex;
  align-items: center;

  &--large-padding {
    padding: 200px 0;
  }

  &--gray {
    background-color: $light-gray;
  }
}

@media (max-width: 768px) {
  .section {
    padding: 50px 0;
  }
}